<nav class="navbar navbar-default">
  <a class="navbar-brand" href="/">KarmaYogiYoga</a>
  <ul class="nav navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/admin">Admin</a>
    </li>
  </ul>
</nav>

{{#each model as |studio|}}
  {{studio-tile studio=studio}}
{{/each}}
