<nav class="navbar navbar-default">
  {{#link-to 'index' class="navbar-brand"}}KarmayogiYoga<span class="sr-only">(current)</span>{{/link-to}}
  <ul class="nav navbar-nav">
    <li class="nav-item active">
      {{#link-to 'index' class="nav-link"}}Home<span class="sr-only">(current)</span>{{/link-to}}
    </li>
    <li class="nav-item">
      {{#link-to 'admin' class="nav-link"}}Admin{{/link-to}}
    </li>
  </ul>
</nav>
{{studio-detail studio=model}}
{{update-studio studio=model updater="updater"}}
